/*
* Style Works for both Editor and Frontend
*/


.wp-block-clr-client-review {
    max-width: 1200px!important;
    .bdt-review-grid-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .wp-block-clr-review-item {
            padding: 40px 30px;
            background-color: #fff;
            border: 1px solid #ebebeb;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
        }
        .bdt-image-wrap {
            margin-top: -70px;
            img {
                height: 65px;
                width: 65px;
                object-fit: cover;
                vertical-align: middle;
            }
        }
        .bdt-content {
            margin-top: 30px;
            .bdt-name {
                margin: 0;
                font-size: 20px;
                margin-bottom: 3px;
                font-weight: 700;
                color: #2b2c34;
                text-transform: capitalize;
                transition: color .3s ease;
            }
            .bdt-designation {
                font-size: 13px;
                text-transform: capitalize;
                color: #5f606f;
                margin: 0 0 20px;
            }
            .bdt-desc {
                font-size: 15px;
                color: #6b7285;
                margin-bottom: 50px;
            }
        }
        .bdt-review-icon span {
            font-size: 14px;
            color: #ff9a00;
        }
    }
}